<!-- partials/head -->
<% if (process.env.NODE_ENV != 'development') { %>
  <script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"ondrejsynacek",utcoffset:"1"}))};sessionStorage.setItem("_swa","1");</script>
<% } %>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Ondrej Synacek - Front end & Web developer</title>
<link rel="stylesheet" type="text/css" href="css/main.css">
<link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
